In [1]:
import pandas as pd

In [2]:
file_dir = 'C://Users/USER/Rutgers_Data_Analysis_Bootcamp/Module8_ETL/'

In [4]:
kaggle_metadata = pd.read_csv(f'{file_dir}movies_metadata.csv',low_memory = False)
ratings = pd.read_csv(f'{file_dir}ratings.csv')

          userId  movieId  rating   timestamp
15380262  160059   127098     3.0  1445716229
3857005    40156     1307     4.0  1248961078
629814      6373       34     5.0  1403575833
21010111  218340     2605     3.0  1047397376
24813235  258034    64030     3.0  1272230770